
    <h1>Show Page for <%= recipe.title %></h1>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/recipes">Recipes</a>
            </li>
        </ul>
    </nav>
