<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
    <link rel="stylesheet" href="/materialize-theme.css">
    <link rel="stylesheet" href="/styles.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src = "/public/script.js"></script>


    <title>Welcome</title>
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <div>
                <a href="/recipes" class="brand-logo center">
                    <img src="/logo2.png" />Piece of Cake</a>
    
            </div>
        </div>
      </nav>
    <h1 class = "greeting">Welcome Back</h1>
    <!-- ============= CONTAINER ============== -->
    <div class="login_container">
        <!-- sidebar -->
        <div class="login_sidebar">

        </div>
        <!-- registration container -->
        <div class="login_registration">
            <% if(error){%>
            <p style="color: red;"><%= error %></p>

            <%}%>
     
        <form action="login" method="POST" autocomplete="off">
            <fieldset class="account-info">
                <legend> <h1>Login</h1>
                    <p>It's quick and easy</p></legend>
                 <!-- username -->
                  <label class = "user_label">USERNAME:</label>
                  <input class = "user_input" type="text" name = "username" required/>
                  <!-- password -->
                  <label class = "password_label">PASSWORD:</label>
                  <input class = "password-input" type="password" name = "password" required>
                  
              </fieldset>
            <input class="waves-effect waves-light btn" type="submit" value="Login"/>
            <input class="waves-effect waves-light btn" type="button" onclick="window.location='/signup'" value="Create account"/>

        </form>
    </div>  
</body>
</html>