<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Welcome</title>
</head>

<body>
    <h1 class = "greeting">Welcome</h1>
    <!-- ============= CONTAINER ============== -->
    <div class="login_container">
        <!-- sidebar -->
        <div class="login_sidebar">

        </div>
        <!-- registration container -->
        <div class="login_registration">
            <h2>Login in</h2>
            <% if(error){%>
            <p style="color: red;"><%= error %></p>

            <%}%>
        <p>Please enter your credentials</p>
        <form action="login" method="POST" autocomplete="off">
            <fieldset class="account-info">
            <label>
                Username:
                <input type="text" name="username" required>
            </label><br>
            <label>
                Password:
                <input type="password" name="password" required>
            </label><br>
           
            </fieldset class = "account-info">
            <input class = "login_button" type="submit" value="Login">
        </form>
    </div>
 
   
</body>
</html>