<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Page</title>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald:200,400,500" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
    
    <!-- ============= CONTAINER ============== -->
    <div class="container">
        <!-- sidebar -->
        <div class="sidebar">

        </div>
        <!-- registration container -->
        <div class="registration">
          <h1>Sign Up</h1>
          <p>Please enter a username and password to join</p>
          <!-- START FORM -->
          <form action="signup" method="POST">
            <!-- fieldset for account info -->
            <fieldset class="account-info">
              <!-- legend for account info -->
              <legend>ISLANDER INFORMATION</legend>
                <!-- username -->
                <label>USERNAME</label>
                <input type="text" name = "username" required/>
                <!-- password -->
                <label>PASSWORD</label>
                <input type="password" name = "password" required>
                
            </fieldset>
            <!-- submit button -->
            <input type="submit" value="Sign Up">
          </form>
        </div>
      </div>










  
</body>

</html>