<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Compiled and minified CSS -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
  <link rel="stylesheet" href="/materialize-theme.css">
  <link rel="stylesheet" href="/styles.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src = "/public/script.js"></script>
  

</head>

<body>
  <nav>
    <div class="nav-wrapper">
        <div>
            <a href="/recipes" class="brand-logo">
                <img src="/logo.png" />Piece of Cake</a>
        </div>
    
    </div>
</nav>
    
    <!-- ============= CONTAINER ============== -->
    <div class="signup_container">
        <!-- sidebar -->
        <div class="sidebar">

        </div>
        <!-- registration container -->
        <div class="registration">
         
          <!-- START FORM -->
          <form action="signup" method="POST" autocomplete="off">
            <!-- fieldset for account info -->
            <fieldset class="account-info">
              <!-- legend for account info -->
              <legend> <h1>Sign Up</h1>
                <p>It's quick and easy</p></legend>
                <!-- username -->
                <label class = "user_label">USERNAME</label>
                <input class = "user_input" type="text" name = "username" required/>
                <!-- password -->
                <label class = "password_label">PASSWORD</label>
                <input class = "password-input" type="password" name = "password" required>
                
            </fieldset>
            <!-- submit button -->
            <input class = "signup_button" type="submit" value="Sign Up">
          </form>
        </div>
      </div>










  
</body>

</html>