<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Express Blog</title>
</head>

<body>
    <header>
        <h1>Users</h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/recipes/new">Create a new User</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>List of Recipes</h2>
        <ul>
            <% for(let i = 0; i < recipes.length; i++){ %>
            <li>
                <a href="/recipes/<%= recipes[i]._id %>"><%= recipes[i].title %></a>
            </li>
            <% } %>
        </ul>
    </main>
</body>

</html>