<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head.ejs') %>
</head>
   

<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>
  
    <main>
        <form action="/recipes" method="POST">
            <input placeholder = "Title" type="text" name="title" /><br>
            <input placeholder = "preparation_time" type="number" name="preparation_time" /><br>
            <input placeholder = "cook_time" type="number" name="cook_time" /><br>
            <input placeholder = "image" type="text" name="image" /><br>
            <input placeholder = "ingredients" type="text" name="ingredients" /><br>
            <input placeholder = "directions" type="text" name="directions" /><br>
            <input placeholder = "body" type="text" name="body" /><br>
            <input type="submit" value="Create Recipe" />
        </form>
    </main>
</body>

</html>

