<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
   

<body>
    <header>
        <nav>
            <div class="nav-wrapper">
              <div>
                <a href="/recipes" class="brand-logo center">
                  <img src="/logo2.png">Piece of Cake</a>
              </div>
              <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="/recipes/new">Add a Recipe</a></li>
               <li class="active"><a href="/recipes">Gallery</a></li>
               <li><a href="/logout">Logout</a></li>
              </ul>
            </div>
          </nav>
    </header>
  
    <main class = "recipe_main">

        <form action="/recipes" method="POST">
            <div class="row show_container">
                <div class="col s12 show_colume">
                    Title:<input type="text" name="title" />
                    Intro:<input type="text" name="intro" />
                    Preparation time: <input type="number"
                        name="preparation_time" />
                    Cook time:<input type="number" name="cook_time" /><br>
                </div>
                <div class="col s6 ingredient-container">
                    Ingredients:
                    <ul class = "list_parent">
                          <li class = "list"></li>
                    </ul>
                    <input class = "input_ingredient" type = "text">
                    <input class = "add_ingredients waves-effect waves-light btn" type="button" value="Add Ingredients" />
                  
                </div>
                <div class="col s6">
    
                    Image: <input  type="text" name="image" />
                </div>
                <div class="col s12">
                    <h5>Directions</h5>
                    <ul class = "list_parent_direction">
                        <li class = "list_direction"></li>
                  </ul>
                  <input class = "input_directions" type = "text">
                  <input class = "add_directions waves-effect waves-light btn" type="button" value="Add Directions" />
                </div>
            </div> 
            <i class="material-icons right"></i>
            <input class="waves-effect waves-light btn" type="submit" value="Create Recipes" />
            <input class="waves-effect waves-light btn" type="button" onclick="window.location='/recipes'" value="Back to Main Gallery"/>
        </form>
   
       
    </main>
</body>

</html>

