<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head.ejs') %>
</head>
   

<body>
    <header>
      <nav>
        <div class="nav-wrapper">
            <div>
                <a href="/recipes" class="brand-logo">
                    <img src="/logo.png" />Piece of Cake</a>
            </div>
        
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/recipes">Gallery</a></li>
                <li><a href="/recipes/new">Add a Recipe</a></li>
                <li><a href="/signup">Signup</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </div>
    </nav>
    </header>
  
    <main class = "recipe_main">
         <form action="/recipes" method="POST" class = "new_recipe">
            <input placeholder = "Title" type="text" name="title" /><br>
            <input placeholder = "Intro" type="text" name="intro" /><br>
            <input placeholder = "preparation_time" type="number" name="preparation_time" /><br>
            <input placeholder = "cook_time" type="number" name="cook_time" /><br>
            <input placeholder = "image" type="text" name="image" /><br>
            <input class = "ingredients" placeholder = "ingredients" type="text" name="ingredients" /><br>
            <input placeholder = "ingredients" type="text" name="ingredients" /><br>
            <input placeholder = "directions" type="text" name="directions" /><br>
            <input placeholder = "directions" type="text" name="directions" /><br>
            <input class= "create_recipe" type="submit" value="Create Recipe" />
        </form>
    </main>
</body>

</html>

