<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head.ejs') %>
</head>
   

<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>
  
    <main>
        <!-- (A) SHOPPING LIST -->
        <h1>SHOPPING LIST</h1>
        <div id="shop-list"></div>
        
        <!-- (B) ADD NEW ITEM -->
        <h1>ADD ITEM</h1>
        <form id="shop-add">
          <input type="text" id="shop-item" placeholder="New Item" required value="1 bag of sugar"/>
          <input type="submit" id="shop-add-btn" value="Add Item"/>
        </form> 
        <div id="shop-list">
            <div class="item-row">
              <div class="item-name">1 bag of sugar</div>
              <input type="button" class="item-del" value="Delete"/>
              <input type="button" class="item-ok" value="Got It"/>
            </div>
          </div>  
    </main>
</body>

</html>

